<main>
    <div class="error-container">
        <h2 class="error-title">500</h2>
        <p class="error-text">Мы уже фиксим</p>
        {{{button}}}
        {{!-- <button
            class="error-link"
            type="button"
            onclick="window.location.href ='../Chats/chats.html'"
        >Назад к чатам</button> --}}
    </div>
</main>
