@import url("./src/static/fonts/fonts.scss");
@import url("./src/pages/Auth/auth.module.scss");
@import url("./src/pages/Chats/chats.module.scss");
@import url("./src/pages/Registry/registry.module.scss");
@import url("./src/pages/User/user.module.scss");
@import url("./src/pages/Error5/error5.module.scss");
@import url("./src/pages/Error404/error404.module.scss");

:root {
    font-family: SF Pro, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    background-color: #fff;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    font-weight: 500;
    background-color: #646cff;
    color: #fff;
    padding: 10px;
    margin: 0 auto;
    border-radius: 12px;
    text-decoration: inherit;
}
a:hover {
    background-color: #535bf2;
}

p,
h1,
h2,
h3 {
    margin: 0;
    color: #1e1e1e;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

#app,
#registry,
#chats,
#user,
#error5,
#error404 {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

input {
    background-color: transparent;
    width: 100%;
}

.send-btn {
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url("./src/static/icons/send.svg");
}

.page {
    display: flex;
    flex-direction: column;
}
