<main class="page">
    <section class="auth-page">
        <h2 class="title">Sign in</h2>
        <form class="auth-form" id="auth-form">
            <div class="input-container">
                {{{logininput}}}
                {{{passwordinput}}}
            </div>
            {{{enterbtn}}}
            {{{toregistrybtn}}}
        </form>
    </section>
    <div id="error"></div>
</main>
