<div class="{{ styles.chats-list }}">
    <h4>Список чатов</h4>
{{#if isLoading }}
    {{#each chats}}
        {{{this.title}}}
    {{/each}}
    {{{profileLink}}}
{{else}}
  Loading...
{{/if}}
</div>
