.user-form {
    display: flex;
    padding: 10px 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    flex-direction: column;
    gap: 20px;
}

.input {
    width: 510px;
    border: none;
    border-bottom: 1px solid #eaeaea;
    outline: none;
}

.title {
    text-align: center;
    color: #1e1e1e;
}

.container {
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    gap: 20px;
}

.avatar {
    width: 90px;
    height: 90px;
    background-color: rgba(196, 196, 196);
    border: 1px solid #000;
    border-radius: 45%;
    padding: 10px;
}

.imgContainer {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.avatar {
    border: none;
    padding: 0;
    margin-right: 20px;
    width: 120px;
    height: 120px;
    background: none;
}
