.page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.main {
    display: flex;
    justify-content: space-between;
}

.chats-list {
    background-color: #fbfbfb;
    width: 310px;
    display: flex;
    flex-direction: column;
    padding: 21px 10px 14px;
    box-sizing: border-box;
    border-right: 1px solid #eaeaea;
}

.search {
    display: flex;
    flex-direction: column;
    gap: 23px;
    padding-bottom: 14px;
    border-bottom: 1px solid #eaeaea;
}

.back-to-user {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.search-input {
    outline: none;
    border: none;
    border-bottom: #eaeaea 1px solid;
    width: 100%;
    padding: 5px;
    background-color: transparent;
    box-sizing: border-box;
}

.dialogue {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 12px 10px;
}

.interlocutor-avatar {
    border-radius: 50%;
    background-color: #efefef;
    width: 47px;
    height: 47px;
}

.message-info {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.personality {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 4px;
}

.interlocutor-name {
    margin: 0;
}

.chat-window {
    width: 970px;
    padding: 10px 20px;
}

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eaeaea;
}

.user-avatar {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #efefef;
}

.burger-menu {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 15px;
    gap: 2px;
    cursor: pointer;
}

.burger-span {
    width: 2px;
    height: 2px;
    background-color: #000;
}

.message-main {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-direction: column;
    padding-top: 30px;
    border-bottom: 1px solid #eaeaea;
}

.message-time {
    text-align: center;
}

.message {
    background-color: #f8f8f8;
    text-align: left;
    width: 402px;
    padding: 11px;
}

.message-image {
    background-image: url("../../static/icons/message_img.svg");
    width: 316px;
    border: 1px solid #eaeaea;
    border-radius: 12px;
    height: 211px;
}

.my-message {
    background-color: #e4edfd;
    padding: 0 11px;
    align-self: flex-end;
    border-radius: 12px;
    width: 114px;
    margin-bottom: 30px;
}

.message-field {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    padding: 11px 21px;
}

.message-input {
    width: 100%;
    border: none;
    border-bottom: #eaeaea 1px solid;
    background-color: transparent;
}

.attach-btn {
    background-image: url("../../static/icons/screpka.svg");
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.send-btn {
    width: 28px;
    height: 28px;
    background-color: #3369f3;
    border: none;
    border-radius: 50%;
    background-image: url("../../static/icons/send.svg");
    padding: 13px 8px;
}
