<main class="main">
            <section class="chats-list">
                <div class="search">
                    <a href="../User/user.html" class="back-to-user">Профиль</a>
                </div>
                <div class="dialogue">
                    <div class="interlocutor-avatar"></div>
                    <div class="message-info">
                        <div class="personality">
                            <p class="interlocutor-name">Rostislav</p>
                            <p class="interlocutor-name">kiss you!</p>
                        </div>
                        <p class="data">12:30</p>
                    </div>
                </div>
            </section>
            <section class="chat-window">
                <div class="chat-header">
                    <div class="user-avatar"></div>
                    <p class="user-name">Kate</p>
                    <div class="burger-menu">
                        <div class="burger-span"></div>
                        <div class="burger-span"></div>
                        <div class="burger-span"></div>
                    </div>
                </div>
                <div class="message-main">
                    <p class="message-time">May 19</p>
                    <div class="message">
                        <p class="message-text">
                            Привет! Смотри, тут всплыл интересный кусок лунной
                            космической истории — НАСА в какой-то момент
                            попросила Хассельблад адаптировать модель SWC для
                            полетов на Луну.
                        </p>
                    </div>
                    <div class="message-image"></div>
                    <div class="my-message">
                        <p class="my-message-text">Cool!</p>
                    </div>
                </div>
                <div class="message-field">
                    <button class="attach-btn" type="button"></button>
                    <form id="message-form">
                        {{{messageinput}}}
                        {{{btn}}}
                    </form>
                </div>
            </section>
             <div id="error"></div>
        </main>
