@font-face {
  font-family: 'SF Pro';
  src: url('./SFProDisplay-Bold.woff'), url('./SFProDisplay-Bold.woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'SF Pro';
  src: url('./SFProDisplay-Regular.woff'), url('./SFProDisplay-Regular.woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'SF Pro';
  src: url('./SFProDisplay-Semibold.woff'), url('./SFProDisplay-Semibold.woff2');
  font-weight: 600;
}
